.quantity-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  user-select: none;
}

.btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #ddd;
}

.quantity {
  min-width: 20px;
  text-align: center;
  font-size: 16px;
}

.delete {
  background-color: #ff4d4f;
  color: white;
}
img{
    width: 50px;
    height: 50px;
}

.delete:hover {
  background-color: #ff1f1f;
}
