.price-table {
  width: 100%;
  border-collapse: collapse;
}

.price-table th {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
   background-color: #007bff;
  color: #fff;
}
