.product-card {
    padding: 20px;
    border-radius: 20px;
    transition: all .3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.pc-image {
    height: 160px;
    border-radius: 16px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.pc-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
