/* Container bao ngoài toàn màn hình */
.app-container {
  display: flex;
     /* căn giữa dọc */
  height: 80vh;           /* chiều cao bằng viewport */

  width: 70%;
  
  
}
.logo-container{
  width: 50%;
  height: 100%;
}
.logo-container img{
  width: 100%;
  height: 100%;
}

.login-container {
  background: #fff;
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    border: solid 1px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(67, 58, 58);
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color:rgb(83, 81, 81);
}

.login-container form input {
  width: 100%;
  padding: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.symbols img{
  width: 10px;
  height: 10px;
}
