.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    height: 80%;
    border-radius: 6px;
}

.thumbnail-list {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.thumbnail-list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
}
