.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  width: 40%;
  border: 2px solid #a8d4ff;
}
.search-input {
  border: none;
  background: transparent;
  flex:1;
  outline: none;
  font-size: 14px;
  color: #333;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #666;
  font-size: 18px;
  right:0;
  
}
.search-icon:hover{
 cursor: pointer;

}
