.search-input {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 12px;
    border-radius: 999px;
    transition: all .3s ease;
}

.search-input:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}
