.product-list {
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
  gap: 16px;
  padding:10px 0;
  scrollbar-width: thin;
  margin:0 18vh;
}

.product-list::-webkit-scrollbar {
  height: 8px;
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}